<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
    <display-name>dbdesign</display-name>
    <servlet>
    	<description>
    	</description>
    	<display-name>UserServlet</display-name>
    	<servlet-name>UserServlet</servlet-name>
    	<servlet-class>com.smartglossa.dbdesign.UserServlet</servlet-class>
    </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>ProjectServlet</display-name>
    	<servlet-name>ProjectServlet</servlet-name>
    	<servlet-class>com.smartglossa.project.ProjectServlet</servlet-class>
    </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>ProtableServlet</display-name>
    	<servlet-name>ProtableServlet</servlet-name>
    	<servlet-class>com.smartglossa.protable.ProtableServlet</servlet-class>
    </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>ProcolumnClass</display-name>
    	<servlet-name>ProcolumnClass</servlet-name>
    	<servlet-class>com.smartglossa.procolumns.ProcolumnClass</servlet-class>
    </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>ProcolumnServlet</display-name>
    	<servlet-name>ProcolumnServlet</servlet-name>
    	<servlet-class>com.smartglossa.procolumns.ProcolumnServlet</servlet-class>
    </servlet>
    
    <servlet-mapping>
    	<servlet-name>UserServlet</servlet-name>
    	<url-pattern>/User</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>ProjectServlet</servlet-name> 
    	<url-pattern>/Project</url-pattern>
    </servlet-mapping>
    <servlet-mapping> 
    	<servlet-name>ProtableServlet</servlet-name>
    	<url-pattern>/Protable</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>ProcolumnClass</servlet-name>
    	<url-pattern>/ProcolumnClass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>ProcolumnServlet</servlet-name>
    	<url-pattern>/ProcolumnServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
        </welcome-file-list>
    </web-app>
